.Banner_Container{
    position:relative;
    width:100%;
    height:700px;
    display:flex;
    justify-content: center;
    /* align-items: center; */
}
.Banner_Container img{
    position:absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner_Content{
    position:absolute;
    width: 1050px;
    top: 180px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.banner_Content h1{
    top:180px;
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    padding: 0;
}
.banner_Content p{
    font-size: 20px;
    color: #fff;
}  