.History_Container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.History.content{
    padding: 10px 50px;
    width:var(--container-w-px);
    background:  var(--bgSearch);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.History.room_container{
    width: 100%;
    height: 100%;
}
.History.title{
    padding: 40px!important;
}
.History.content .title.large{
    font-size: 28px;
    padding: 0;
}
.History.content .title{
    padding: 0;
    display: flex;
    align-self: center;
}
.History.content .title a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: -190px;
    top: 24px;
    transition: .5s;
}
.History.content .title a:hover{
    color: var(--orange1);
}
.History.content .title a:hover::after{
    left: 0;
    background: var(--orange1);
}
.History.room{
    position: relative;
    width: 100%;
    height: 250px;
    grid-template-columns: 350px 1fr;
    gap: 0;
}
.History.room_img{
    position: relative;
    width: 300px;
    height: 200px;
    align-self: center;
    justify-self: center;
}
.History.img{
    padding: 0;
}
.History.room_img .sale-icon{
    position: absolute;
    width: 100px;height: 100px;
    top:-5px;left: -6px;
}
.History.room_content{
    height: 200px;
    align-self: center;
    padding-right: 25px;
}
.History.room_content .general_infor{
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}
.History.room_content .content{
    display: flex;  
    font-weight: bold;
    padding: 10px 0 0;
}
.History.room_content span{
    font-size: 16px;
    font-weight: normal;
    align-self: center;
}
.History.room_content .absolute{
    bottom: 90px;
    right: 20px;
}
.History.room_content .prices .title{
    color: black;
}
.Detail_btn{
    justify-self: center;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: right;
    align-items: center;
}
.Detail_btn .medium_btn{
    padding: 0;
    width: 100px;
    height: 100%;
}
/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.page-btn ,.prev-btn, .next-btn  {
    width: 40px;
    height: 40px;
    background-color: transparent;
    color: #000;
    border: none;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 50%;
    align-self: center;
    font-weight: bolder;
    transition: background-color 0.5s, color 0.5s;
}

.page-btn.active,.prev-btn.active, .next-btn.active  {
    background-color: var(--orange1);
}
.prev-btn:hover, .next-btn:hover{
    background-color: var(--orange1);
}
/* .page-btn:hover:not(.active) {
    background-color: #555;
} */

.filter-container {
    width: 100%;
    display: grid;
    gap: 25px;
    align-items: center;
    grid-template-columns: 150px 250px 150px 100px;
}

.filter-item {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

#bookingType, #dateStart,#dateEnd, #status {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#dateStart,#dateEnd {
    margin: 0;
}
#filterButton {
    width: 100%;
    height: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#filterButton:hover {
    background-color: #0056b3;
}
.order-list{
    width: 100%;
    height: 700px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #000;
    padding-top: 40px;
}
.order-item {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px 20px 10px;
    margin-bottom: 20px;
}

.order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.order-header h3 {
    margin: 0;
}

.order-status {
    font-weight: bold;
}

.order-status.pending {
    color: blue;
}

.order-status.success {
    color: green;
}

.order-status.failed {
    color: red;
}

.order-details {
    display: flex;
}

.order-image {
    margin-right: 10px;
}

.order-image img {
    width: 150px;
    height: auto;
    border-radius: 4px;
}

.order-info {
    flex-grow: 1;
}
.order-info .spraise{
    margin: 0;
    margin-bottom: 5px;
    /* color: var(--orange1); */
}
.order-info p {
    margin: 5px 0;
}

.order-total {
    font-weight: bold;
    color: orange;
    text-align: right;
}