.Login_container{
     width: 100%;
     min-height: 100vh;
     overflow-x: hidden;
}
.Login_container .background{
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     padding: 100px;
     background-image: url('../img/bgLogin.jpg'); /* Đường dẫn đến hình ảnh nền */
     background-size: cover; /* Chỉnh kích thước hình ảnh nền để nó phủ toàn bộ khu vực */
     background-position: center; /* Căn giữa hình ảnh nền */
     background-repeat: no-repeat; /* Ngăn lặp lại hình ảnh nền */
}
.Card{
     position: relative;
     width: 600px;height:600px;
     background: #fff;
     border-radius: 15px;
}
.card_head{
     width: 100%;
     height: 100px;
     display: flex;
     justify-content: center;
     background: #000;
     border-top-left-radius: 15px;
     border-top-right-radius: 15px;
}
.card_Login{
     display: flex;
     justify-content: center;
     transition: transform 0.5s ease;
     transform: translateX(0);
}
.card_Login,
.card_SignUp {
     position: absolute;
     top: 100px;
     left: 0;
     width: 100%;
     transition: transform 0.5s ease;
}

.card_Login.close{
     transform: translateX(-100%);
}
form{
     width: 80%;
     margin: 10px;
     display: grid;
     gap: 20px;
     text-align: center;
     visibility: hidden;
     opacity: 0;
     transition: visibility 0s, opacity 0.5s ease;
}
form.visible {
     visibility: visible;
     opacity: 1;
}
form h2{
     padding: 10px;;
}
form .text {
     position: relative;
     width: 100%;
}
form input{ 
     padding: 10px;
     width: 100%;
     height: 50px;
     font-size: 16px;
     border-radius: 7px;
     border: 1px solid var(--grey3);
     background: transparent;
     transition: 0.5s;
}
.card_Login input:focus,.card_Login input:valid{
     border: 1px solid var(--orange1);
     outline: none;
}
form span{
     position: absolute;
     top: 15px;
     left: 10px;
     font-size: 16px;
     color: var(--grey3);
     transition: 0.5s;
     z-index: -1;
}
.card_Login input:focus ~ span,.card_Login input:valid ~ span{
     color: var(--orange1);
     transform: translateX(10px) translateY(-23px);
     font-size: 1em;
     padding:  0px 10px;
     background: #fff;
     border-left:1px solid var(--orange1);
     border-right:1px solid var(--orange1);
     /* letter-spacing: 0.1em; */
     z-index: 1;
}
.passhow{
     position:absolute;
     top:15px;
     right:10px;
}
.card_SignUp{
     transform: translateX(100%);
     transition: transform 0.5s ease;
}
.card_SignUp.open{
     display: flex;
     justify-content: center;
     transform: translateX(0%);
}
.signup-change{
     display: none;
}
.signup-change.show {
     display: block;
}
.login-change.close{
     display: none;
}
.card_SignUp.open ~ .card_footer{
     position: absolute;
     bottom: 15px;
     width: 100%;
     display: grid;
     justify-content: center;
     text-align: center;
     transition: 0.3s;
}
.card_Login ~ .card_footer{
     position: absolute;
     bottom: 110px;
     width: 100%;
     display: grid;
     justify-content: center;
     text-align: center;
     transition: 0.3s;
}
.card_footer a {
     color: blue;
     text-decoration: underline;
     font-size: 14px;
}
.card_footer .change{
     font-size: 14px;
}
