.cor-text{
     color: green;
}
.er-text{
     color: red;
}
h2.title{
     font-size: 24px;
}
label.title{
     font-size: 16px;
}
.lighter{
     font-weight: lighter;
}
.Main_container,.Room_container {
     width: 1050px;
}
.CreRoom_form{
     position: relative;
}
.CreRoom_container{
     padding: 20px;
     background: #e0e0e0;
     display: grid;
     grid-template-columns: 0.8fr 1.2fr;
     gap: 20px;
}
.CreRoom.Left,.CreRoom.Right{
     width: 100%;
}
.ImgRoom{
     position: relative;
     width: 450px;
     height: 300px;
     border-radius: 10px;
}
.ImgRoom img{
     width: 100%;
     height: 100%;
     border-radius: 10px;
}
.getImgRoom{
     position: absolute;
     top: 15px;
     left: 5px;
}
.getImgRoom label{
     padding: 5px;
     border-radius: 5px;
     background: #e0e0e0;
     cursor: pointer;
}
input[type = 'file']{
     position: absolute;
     display: none;
}
.CreRoombot{
     margin-top: 35px;
}
.CreRoombot textarea{
     width: 100%;
     height: 150px;
     outline: none;
     border-radius: 10px;
     border: 1px solid var(--grey3);
     padding: 10px;
}
.CreRoomCom{
     margin-top: 30px;
}
.CreRoomCom.name,.CreRoomCom.Small{
     margin: 0;
}
input[type = 'text'],input[type = 'date'],input[type = 'number'],input[type = "email"],.select{
     width: 100%;
     height: 50px;
     border-radius: 10px;
     outline: none;
     border: 1px solid var(--grey3);
     padding: 0 10px;
}
input[type = 'radio'],input[type = 'checkbox']{
     display:none;
}
input[type="radio"]:checked +  label,
input[type = "checkbox"]:checked + label {
     /* Custom styling for checked state */
     background-color: var(--orange1);
     box-shadow: 0 0 2px var(--orange1);
     color: #fff;
}
input[type="radio"]:checked + label::before,
input[type = "checkbox"]:checked + label::before{
     /* background: #fff; */
     background-image: url('../img/orange-check.png');
     background-size: cover;
}
.CreRoomCom.Small{
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 10px ;
}
.CreRoombot.convenience{
     margin-top: 70px;
}
.Confirm{

     padding: 40px 20px;
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 20px;
     background: #e0e0e0;
}
.Confirm a{
     font-size: 20px;
     padding: 20px 40px;
     display: flex;
     width: 100%;
     justify-content: center;
     font-weight: bold;
     color: #fff;
     border-radius:10px;
}
.cancel_btn .btn,.Cancel_btn .btn,.Delet_btn .btn{
     background: red;
     border: 1px solid red;
}
.cancel_btn .btn:hover,.Cancel_btn .btn:hover,.Delet_btn .btn:hover{
     background: #fff;
     border:1px solid red;
     color: red;         
}
.confirm_btn .btn,.Confirm_btn .btn,.Edit_btn .btn{
     background: var(--green4);
     border: 1px solid var(--green4);
}
.confirm_btn .btn:hover,.Confirm_btn .btn:hover,.Edit_btn .btn:hover{
     background: #fff;
     color: var(--green4);
}
.ImgRoom_detail{
     padding: 0 20px;
     background: #e0e0e0;
}
.ImgRoom_detail .title, .ImgRoom_detail label.title{
     display: flex;
     align-items: center;
     font-size: 16px;
}
.ImgRoom_detail .title label{
     margin-left: 10px;
     background: var(--grey3);
     padding: 5px;
     border-radius: 5px;
}
.ImgRoom_detail .title label:hover{
     background: var(--grey1);
     color: #fff;
}
.ImgRoom_Slider{
     width: 100%;
     height: 300px;
}
/* Phần Thêm loại phòng mới */
.MiniContainer{
     top: 0;
     left: 0;
     position: absolute;
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     background: #00000085;
     z-index: 9;
     visibility: hidden;
     transition: 0.5s;
}
.MiniContainer.fixed{
     position: fixed;
}
.MiniContainer.visible{
     visibility: visible;
}
.Creminiroom.MiniContainer.visible{
     visibility: visible;
}
.MiniForm{
     margin-top: 100px;
     width: 600px;
     height: 500px;
     background: var(--white);
     display: flex;
     flex-direction: column;
     align-items: center;
     border-radius: 10px;
     padding: 10px 40px;
}
.MiniForm h2{
     font-size: 20px;
     position: relative;
     padding: 40px 0 20px;
}
.MiniForm h2::after{
     content: '';
     position: absolute;
     width: 0;
     height: 3px;
     left: 0;
     bottom: 10px;
     background: var(--orange1);
     transition: 0.5s;
}
.MiniForm h2:hover{
     color: var(--orange1);
}
.MiniForm h2:hover::after{
     width: 100%;
}
.TypeConfirm,.MiniRoom_Confirm{
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 100px;
     margin-top: 10px;
}
.Type,.miniroom{
     width: 100%;
     padding: 10px;
     padding-top: 15px;
}
.Type label,.miniroom label{
     padding: 10px 0;
     font-size: 16px;
     font-weight: bold;
}
.Cancel_btn .btn,.Confirm_btn .btn{
     width: 100%;
     height: 100%;
     padding: 0;
     align-self: center;
     justify-self: center;
}
.Cancel_btn,.Confirm_btn{
     width: 125px;
     height: 50px;
}
/* Phần Thêm tiện ích */
.MiniConvenience h2{
     color: var(--blue3);
}
.ConvenienceShow{
     padding: 10px;
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-auto-rows: max-content;
     gap: 10px;
     width: 100%;
     height: 350px;
     overflow-y: scroll;
}
.ConvenienceShow::-webkit-scrollbar {
     width: 5px; /* chiều rộng của scrollbar */
 }
 
.ConvenienceShow::-webkit-scrollbar-thumb {
     background-color: var(--blue3); /* màu của "nt" trên scrollbar */
     border-radius: 6px; /* bo góc cho "nt" */
 }
.Convenience_item{
     height: 50px;
     display: flex;
     align-items: center;
}
.Convenience_item label{
     position: relative;
     width: 100%;
     height: 100%;
     display: grid;
     grid-template-columns: 26px 1fr;
     justify-content: center;
     color: #000;
     font-family: serif;
     font-size: 15px;
     box-shadow:0 0 2px #000;
     border-radius: 5px;
     padding: 5px 10px;
     font-weight: bold;
     align-items: center;
}
.Convenience_item label::before{
     content: '';
     /* transform: translateY(-2px); */
     display: block;
     width: 16px; height: 16px;
     box-shadow:0 0 2px #000;
     border-radius: 50%;
}
input[type = "checkbox"]:checked + label {
     /* Custom styling for checked state */
     background-color: var(--blue3);
     box-shadow: 0 0 2px var(--blue3);
     color: #fff;
}
input[type = "checkbox"]:checked + label::before{
     /* background: #fff; */
     background-image: url('../img/blue-check3.png');
     background-size: cover;
}
/* .ConFinish{
     display: flex;
     width: 125px;
     height: 50px;
     font-size: 18px;
     align-items: center;
     justify-content: center;
     border-radius: 10px;
     color: #fff;
     background: var(--blue3);
} */

.ConvienceConfirm{
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 100px;
     margin-top: 10px;
}
/* ===================================================  Quản l Phòng  ==========================================================================*/
.Roomlist_Container,.Member_Container,.room_Request_Container,.Event_Request_Container{
     background:#e0e0e0;
     padding: 50px 20px;
     min-height:700px
}
.AddRoom{
     margin-bottom: 40px;
}
.AddRoom .btn{
     padding:10px ;
     background: var(--green4);
     border: 1px solid var(--green4);
}
.AddRoom .btn:hover{
     color:var(--green4);
     background:white;
     border: 1px solid var(--green4);
}

.RoomList_Component,.Member_Component,.Request_Component{
     height:500px;
     display:flex;
     flex-direction: column;
     overflow-y: scroll;
     overflow-x: hidden;
}
.RoomList_Component::-webkit-scrollbar,.Member_Component::-webkit-scrollbar,.Request_Component::-webkit-scrollbar {
     width: 12px; /* chiều rộng của scrollbar */
 }
 
.RoomList_Component::-webkit-scrollbar-thumb,.Member_Component::-webkit-scrollbar-thumb,.Request_Component::-webkit-scrollbar-thumb {
     background-color: var(--orange1); /* màu của "nút" trên scrollbar */
     border-radius: 6px; /* bo góc cho "nút" */
 }
 
 /* For Firefox */
 /* Note: Firefox cần có thuộc tính overflow-x hoặc overflow-y được thiết lập thành 'scroll' hoặc 'auto' để scrollbar có thể hiển thị */
 .RoomList_Component::-moz-scrollbar {
     width: 12px;
 }
 .RoomList_Component::-ms-scrollbar-thumb {
     background-color: #888;
     border-radius: 6px;
 }
.MiniRoom,.Member,.Request{
     margin-bottom: 20px;
     align-items: center;
     padding:0;
     position:relative;
     border-radius: 10px;
     background:#fff;
     display:grid;
     grid-template-columns: 200px 1fr   ;
     gap:20px
}
.MiniRoom .Img_MiniRoom{
     width:200px;
     height:150px;
     border-radius: 10px;
}
.Img_MiniRoom img{
     width:100%;
     height:100%;
     border-radius: 10px;
     object-fit: cover;
}
.MiniRoom .MiniRoom_content,.Member .Member_content,.Request_content{
     padding: 10px 0px;
     display:flex;
     flex-direction: column;
     justify-content:center ;
}
h3{
     line-height: 40px;
}
.BasicEdit{
     display:flex;
     flex-direction: column;
     justify-content:center ;
     height:100%;
     position:absolute;
     top:0;
     right: 10px;
     gap:20px;
}
.BasicEdit .btn{
     padding: 10px 40px;
}
/* Phần Thêm phòng mới */
.MiniRoom_Cancel_btn .btn{
     background:var(--green4);
     border:2px solid var(--green4)
}
.MiniRoom_Cancel_btn .btn:hover{
     background:#fff;
     border:2px solid var(--green4);
     color:var(--green4);
}
.MiniRoom_confirm_btn .btn{
     background:red;
     border:2px solid red;
}
.MiniRoom_confirm_btn .btn:hover{
     background:#fff;
     border:2px solid red;
     color:red;
}



































