
/* Phần quản lý thành viên */
.MemberSearch form{
    width: 350px;
    font-size: 20px;
    border-radius: 0;
    position: relative;
    display:grid;
    grid-template-columns: 90% 10%;
    border:1px solid #000;
}
.MemberSearch input[type="search"]{
    padding:10px;
    font-size: 18px;
    width: 100%;
    height:100%;
    position: relative;
    border:none;
    outline:none;
}
.MemberSearch input[type="submit"]{
    border:none;
    width:100%;
    padding:0;
}
.Member_Component{
    height:500px;
    display:flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}
.MemberSearch span{
    position:absolute;
    top:0;
    right:10px;
    transform:translateY(50%);
}
/* Phẩn quản lý nhân viên */
.Member .Img_Member{
    border-radius: 50%;
    width:100px;
    height: 100px;
    margin:0 30px;
    align-self: center;
    justify-self: center;
}
.Img_Member img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.Member_content h3 span{
    font-weight:lighter;
}
.Detail_btn .btn{
    background:#E8952F;
    border:2px solid E8952F;
}
.Detail_btn .btn:hover{
    background:#fff;
    border:2px solid #E8952F;
    color:#E8952F;
}
.Agree_btn .btn{
    background:var(--green4);
    border:2px solid E8952F;
}
.Agree_btn .btn:hover{
    background:#fff;
    border:2px solid var(--green4);
    color: var(--green4);
}
/* Phần Chi tiết thành viên */
.CheckMember.MiniForm{
    width:750px;
    height:550px;
}
.CheckMember.MiniForm h2{
    margin: 20px;
}
.miniMember_Top{
    width:100%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.miniMember_bottom{
    margin-top: 20px;
    width:100%;
}
.miniMember{
    font-weight: bold;
}
.CheckMember_Confirm{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    margin-top: 20px;
}
.Member_confirm_btn .btn{
    background:var(--green4);
    border:2px solid var(--green4)
}
.Member_confirm_btn .btn:hover{
    background:#fff;
    border:2px solid var(--green4);
    color:var(--green4);
}
.Member_Cancel_btn .btn{
    background:red;
    border:2px solid red;
}
.Member_Cancel_btn .btn:hover{
    background:#fff;
    border:2px solid red;
    color:red;
}